!!!
%html
%head
  %title As-Studio - Студия Снежаны Черновой
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  = stylesheet_link_tag    'front', media: 'all', 'data-turbolinks-track' => true
  = stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css", :rel => "stylesheet"
  = csrf_meta_tags

%body
  =render 'front/navigation/header'
  =yield
  =render 'front/navigation/footer'

= javascript_include_tag "https://api.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js"
= javascript_include_tag 'front', 'data-turbolinks-track' => true
